.container {
  width: 100%;
  padding: 31px 22px;
  border: 1px solid #d9d9d9;
  font-size: 16px;
  margin-top: 10px;
}
.resultText {
  color: #555555;
  font-size: 14px;
  font-weight: 400;
  margin-top: 29px;
  margin-bottom: 10px;
  span {
    font-weight: bold;
  }
}
