@font-face {
  font-family: 'pretendard';
  src: url('../assets/fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'pretendard';
  src: url('../assets/fonts/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'pretendard';
  src: url('../assets/fonts/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'pretendard';
  src: url('../assets/fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
}
